<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href='/css/style.css' type='text/css' rel='stylesheet'>
    <title>Imgureddit - The Imgur search engine for Reddit</title>
</head>
<body>
    <div id='header'>
        <div class='left' id='home'>
            <a href='/'>imgureddit</a>
        </div>
        <div class='right'>
            Lewis Horwood for
            <a target='_blank' href='https://www.freecodecamp.com/challenges/image-search-abstraction-layer'>
               FreeCodeCamp
            </a> |
            <a target='_blank' href='https://github.com/Lewis65/'>
                <i class='fa fa-lg fa-github'></i> github
            </a> |
            <a target='_blank' href='https://twitter.com/Lewiebot'>
                <i class='fa fa-lg fa-twitter'></i>@lewiebot
            </a>
        </div>
    </div>
    <div id='wrapper'>
        <div id='search'>
            <form id='searchform' action='/' method='post'>
                Search /r/
                <input type='text' name='subreddit' autocomplete='off' autofocus=true id='subreddit' value='<%- searchTerm -%>'/>
                <label>
                    <input type='radio' name='sort' value='recent' checked=<% checkedRecent %>/>
                    Recent
                </label>
                <label>
                    <input type='radio' name='sort' value='top' checked=<% checkedTop %>/>
                    Top
                </label>
                <label>
                    <button formaction='/' formmethod='post'>Submit</button>
                </label>
            </form>
            <a href='/history'>Search history</a>
        </div>
        <div id='content'>
            <%- content -%>
        </div>
    </div>
</body>
</html>
